body{
	margin: 0;
	background: url("../Imagens/utfpr.jpg") no-repeat fixed;


}
header{
	height: 388px;
	background: url('../imagens/logo.png');
}
nav{
	height: 20px;
	font-weight: bold;
	color: white;
	background-color: yellow;
	padding: 10px;
	text-align: center;
}
a{
	color: black;
	font-family: Copperplate, Papyrus, serif;
	font-size: 1em;
	margin: 10px;
	text-decoration: none;

}
article{
	padding: 20px;
}
p{
	text-align: justify;

}
h2{
	font-variant-caps: small-caps;
}
footer{
	height: 50px;
	background-color: yellow;
	text-align: center;
	font-weight: bold;
	color: black;
	line-height: 50px;
}
img{
	width: 400px;
	margin: 10px;
}

textarea{
	background-color: yellow;
	color: black;
	font-family:Arial, serif;
	border:1px dashed black;
	height: 100px;
	width: 200px;
	resize: none;

}
button{
	border: none;
	background-color: yellow;
	height: 20px;
	width: 80px;
	margin-top: 2px;
}
fieldset{
	background-image: url('../Imagens/contato.png');
	background-repeat: no-repeat;
	background-position: right top;
	border: none;
}


::-webkit-scrollbar {
    background: #6b6b6b;
}
::-webkit-scrollbar-thumb {
    background: yellow;
}

#principal{
	width: 900px;
	background-color: white;
	margin: auto;
}

.entrada{
	background-color: yellow;
	border: 1px dashed black;
	border-radius: 10px;
	height: 20px;
	margin-bottom:5px; 
}